<!-- <div class="content-container">

  <div class="container-fluid">
  </div>
</div> -->



    <div class="jumbotron">
      <h1>{{currentCategory}}, {{currentCategoryId}}</h1>
      <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
      <p>To see the difference between static and fixed top navbars, just scroll.</p>
      <p>
        <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
      </p>

      <img src="assets/images/p1_001.jpg" width="100px;" height="100px;" alt="">


  </div>

  <!-- gallery -->
  <!-- <div class="container"> -->
      <div class="row">
          <div class="col-md-12">
              <div id="grid" class="row">
                  <div class="mix col-sm-3 page1 page4 margin30">
                      <div class="item-img-wrap ">
                          <img src="https://via.placeholder.com/312x315/FFB6C1/000000" class="img-responsive" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div>

                  </div>
                  <div class="mix col-sm-3 page2 page3 margin30">
                      <div class="item-img-wrap ">
                          <img src="https://via.placeholder.com/312x315/20B2AA/000000" class="img-responsive" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div>

                  </div>
                  <div class="mix col-sm-3  page3 page2 margin30 ">
                      <div class="item-img-wrap ">
                          <img src="https://via.placeholder.com/312x315/87CEFA/000000" class="img-responsive" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div>

                  </div>
                  <div class="mix col-sm-3  page4 margin30">
                      <div class="item-img-wrap ">
                          <img src="https://via.placeholder.com/312x315/EE82EE/000000" class="img-responsive" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div>

                  </div>
                  <div class="mix col-sm-3 page1 margin30 ">
                      <div class="item-img-wrap ">
                          <img src="https://via.placeholder.com/312x315/#FF6347/000000" class="img-responsive" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div>

                  </div>
                  <div class="mix col-sm-3  page2 margin30">
                      <div class="item-img-wrap ">
                          <img src="https://via.placeholder.com/312x315/008080/000000" class="img-responsive" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div>

                  </div>
                  <div class="mix col-sm-3  page3 margin30">
                      <div class="item-img-wrap ">
                          <img src="https://via.placeholder.com/312x315/DDA0DD/000000" class="img-responsive" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div>

                  </div>
                  <div class="mix col-sm-3 page4  margin30">
                      <div class="item-img-wrap ">
                          <img src="https://via.placeholder.com/312x315/FFA500/000000" class="img-responsive" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div>
                  </div>
              </div><!--grid-->
          </div>
      </div>
      <div class="row gallery-bottom">
          <div class="col-sm-6">
              <ul class="pagination">
                  <li>
                      <a href="#" aria-label="Previous">
                          <span aria-hidden="true">«</span>
                      </a>
                  </li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li>
                      <a href="#" aria-label="Next">
                          <span aria-hidden="true">»</span>
                      </a>
                  </li>
              </ul>
          </div>
          <div class="col-sm-6 text-right">
              <em>Displaying 1 to 8 (of 100 posts)</em>
          </div>
      </div>
  <!-- </div> -->
