<!-- <div class="content-container">

  <div class="container-fluid">
  </div>
</div> -->


<div for="products-view">
    <div class="jumbotron"  *ngIf="productsView" >
      <h3>{{currentCategory}}, Category Code: {{currentCategoryId}}</h3>
      <p>Category Description</p>
      <!-- <p>To see the difference between static and fixed top navbars, just scroll.</p> -->
      <!-- <p>
        <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
      </p> -->

      <div class="row">
        <div class="col-sm-2" *ngFor="let image of imageList">
                <img [src]="image" width="100px;" height="100px;" alt="">
        </div>
      </div>


  </div>

  <!-- gallery -->
  <!-- <div class="container"> -->
      <div class="row"  *ngIf="productsView" >
          <div class="col-md-12">
              <div id="grid" class="row">

                  <div *ngFor="let product of productList" class="mix col-sm-4 page1 page4 margin40">
                      <div class="item-img-wrap ">
                        <div class="img-wrapper">
                          <img  [src]="product.images[0]" class="img-responsive img-layout" alt="workimg" (click)="viewProduct(product)">
                        </div>

                          <div class="item-img-overlay">
                              <a href="#" class="show-image" (click) = "viewProduct(product)">
                                  <span>{{product.name}}</span>
                              </a>
                          </div>
                          <h4 class="text-center">{{product.name}}</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Rs: {{product.price}}.00</small></p>
                      </div>

                  </div>

              </div><!--grid-->
          </div>
      </div>

      <!-- paginatin section -->
      <div class="row gallery-bottom">
          <div class="col-sm-6">
              <ul class="pagination">
                  <li>
                      <a href="#" aria-label="Previous">
                          <span aria-hidden="true">«</span>
                      </a>
                  </li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li>
                      <a href="#" aria-label="Next">
                          <span aria-hidden="true">»</span>
                      </a>
                  </li>
              </ul>
          </div>
          <div class="col-sm-6 text-right">
              <em>Displaying 1 to 8 (of 100 posts)</em>
          </div>
      </div>

      <!-- end of pagination -->
  <!-- </div> -->
</div>


  <app-product-page [singleProductView]="singleProductView"></app-product-page>
