
<div class="jumbotron" *ngIf="singleProductView">
  <h3>{{product.name}} for Price : {{product.price}}</h3>
  <p>Category Description</p>


<ngb-carousel *ngIf="product.images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide *ngFor="let image of product.images">
    <div class="picsum-img-wrapper">
      <img [src]="image" alt="Random slide" class="col-12 product-carousel" >
    </div>
  </ng-template>
</ngb-carousel>

<hr>

</div>
