
<div class="sidebar-container">
  <div class="sidebar-logo">
    Product Page
  </div>


  <ul class="sidebar-navigation" >
    <li class="header">Categories</li>

     <li *ngFor="let category of categoryList" (click)="selectCategory(category)">
       <a href="#">
         <i class="fa fa-info-circle" aria-hidden="true"></i> {{category.name}}
       </a>
     </li>
 </ul>
</div>

<div class="content-container">

  <div class="container-fluid">


  <app-product [currentCategory]="categorySelected" [currentCategoryId] = "categorySelectedId" [singleProductView]="singleProductView" [imageList]="imageList"></app-product>

  </div>
</div>
